<div class="col-md-4">
    {{ form_start(filterForm) }}
        <div class="card">
            <div class="d-flex justify-content-center">
                <hr class="style-eight">
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-12 my-1">
                        <!-- Origin -->
                        {{ form_widget(filterForm.origin) }}
                        <!-- End origin -->
                    </div>
                    <div class="col-12 my-1">
                        <!-- Vine -->
                        {{ form_widget(filterForm.vine) }}
                        <!-- End vine -->
                    </div>
                    <div class="col-12 my-1">
                        <!-- Enbottler -->
                        {{ form_widget(filterForm.enbottler) }}
                        <!-- End enbottler -->
                    </div>
                    {% if formCategory is defined %}
                        <div class="col-12 my-1">
                            <!-- Category -->
                            {{ form_widget(filterForm.category) }}
                            <!-- End category -->
                        </div>
                    {% endif %}
                    <div class="col-12 my-1">
                        <!-- Year -->
                        {{ form_widget(filterForm.year) }}
                        <!-- End year -->
                    </div>
                    <div class="col-12 my-1">
                        <!-- Name -->
                        {{ form_widget(filterForm.name) }}
                        <!-- End name -->
                    </div>
                    <div class="col-12 my-1">
                        <!-- Price -->
                        <div class="text-muted text-start">
                            {{ form_label(filterForm.price) }} : 
                            <span id="sliderValue" class="ms-3"></span> €
                        </div>
                        <div class="slidecontainer d-block">
                            {{ form_widget(filterForm.price) }}
                        </div>
                        <!-- End price -->
                    </div>
                    <div class="col-12 my-1">
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-purple w-100">Filtrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(filterForm) }}
</div>