{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modifier mon mot de passe{% endblock %}

{% block body %}
<section class="mt-4">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white">
                            <img src={{ asset('images/cadenas.png') }}
                            alt="Cadenas" class="img-fluid my-5 w-75" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4 h-100 d-flex flex-column justify-content-center">
                                {{ form_start(form) }}
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modification de mot de passe</p>
                                    <!-- Old password -->
                                    <div class="form-outline mb-4 h5 w-100">
                                        <p class="text-muted mb-2 text-center">Ancien mot de passe</p>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            {{ form_widget(form.oldPassword) }}
                                        </div>
                                        {% for errorItem in form.oldPassword.vars.errors %}
                                            <div class="text-danger ms-5">{{ errorItem.message }}</div>
                                        {% endfor %}
                                        <p class="oldPassword-error mb-4 ms-5"></p>
                                    </div>
                                    <!-- End old password -->
                                    <!-- New password -->
                                    <div class="form-outline mb-4 h5 w-100">
                                        <p class="text-muted mb-2 text-center">Nouveau mot de passe</p>
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            {{ form_widget(form.password.first) }}
                                        </div>
                                        {% for errorItem in form.password.first.vars.errors %}
                                            <div class="text-danger ms-5">{{ errorItem.message }}</div>
                                        {% endfor %}
                                        <p class="password-error mb-4 ms-5"></p>
                                    </div>
                                    <div class="form-outline mb-4 h5 w-100">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            {{ form_widget(form.password.second) }}
                                            {% for errorItem in form.password.second.vars.errors %}
                                                <div class="text-danger ms-5">{{ errorItem.message }}</div>
                                            {% endfor %}
                                            <p class="confirm-password-error mb-4"></p>
                                        </div>
                                    </div>
                                    <!-- End new password -->
                                    <!-- Submit button -->
                                    <div class="w-100 d-flex justify-content-center">
                                        <button type="submit" value="submit" class="btn btn-purple" name="edit-password">
                                            Valider
                                        </button>
                                    </div>
                                    <!-- End submit button -->
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editPassword') }}
{% endblock %}