
<main>
    <div class="container">
      
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12 d-flex flex-column align-items-center justify-content-center px-2">

              {% if not app.user %}
                <div class="d-flex justify-content-center py-3">
                  <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src={{ asset('images/logo_ws.png') }} alt="Logo">
                    <span class="d-none d-lg-block">Wine Stockker</span>
                  </a>
                </div><!-- End Logo -->
              {% endif %}
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">
                      {% if update is defined %}
                        Modifier mon profil
                      {% else %}
                        Inscription
                      {% endif %}
                    </h5>
                    {% if update is not defined %}
                      <p class="text-center small">Entrer vos informations pour créer votre compte</p>
                    {% endif %}
                  </div>
                  {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                  {% endfor %}
                  {{ form_start(registrationForm, {'attr': {'class': 'row g-3 needs-validation'}}) }}
                    <!-- Firstname -->
                    <div class="col-12">
                      <i class="fa-regular fa-user fa-lg me-3"></i>
                      {{ form_label(registrationForm.firstname) }}
                      {{ form_widget(registrationForm.firstname) }}
                      {% for errorItem in registrationForm.firstname.vars.errors %}
                        <div class="text-danger">{{ errorItem.message }}</div>
                      {% endfor %}
                      <p class="firstname-error"></p>
                    </div>
                    <!-- End firstname -->
                    <!-- Lastname -->
                    <div class="col-12 mt-0">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      {{ form_label(registrationForm.lastname) }}
                      {{ form_widget(registrationForm.lastname) }}
                      {% for errorItem in registrationForm.lastname.vars.errors %}
                        <div class="text-danger">{{ errorItem.message }}</div>
                      {% endfor %}
                      <p class="lastname-error"></p>
                    </div>
                    <!-- End lastname -->
                    <!-- Email -->
                    <div class="col-12 mt-0">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      {{ form_label(registrationForm.email) }}
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        {{ form_widget(registrationForm.email) }}
                        <div></div>
                      </div>
                      {% for errorItem in registrationForm.email.vars.errors %}
                      <div class="text-danger">{{ errorItem.message }}</div>
                      {% endfor %}
                      <p class="email-error"></p>
                    </div>
                    <!-- End email -->
                    <!-- Birthday -->
                    {% if registrationForm.birthday is defined %}
                      <div class="col-12 mt-0">
                        <i class="fa-solid fa-cake-candles fa-lg me-3 fa-fw"></i>
                        {{ form_label(registrationForm.birthday) }}
                        {{ form_widget(registrationForm.birthday) }}
                        {% for errorItem in registrationForm.birthday.vars.errors %}
                          <div class="text-danger">{{ errorItem.message }}</div>
                        {% endfor %}
                        <p class="birthday-error"></p>
                      </div>
                    {% endif %}
                    <!-- End birthday -->
                    <!-- Password -->
                    {% if registrationForm.password is defined %}
                      <div class="col-12 mt-0">
                        <div>
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          {{ form_label(registrationForm.password.first) }}
                          {{ form_widget(registrationForm.password.first) }}
                          {% for errorItem in registrationForm.password.first.vars.errors %}
                            <div class="text-danger">{{ errorItem.message }}</div>
                          {% endfor %}
                          <p class="password-error"></p>
                        </div>
                        <div>
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          {{ form_label(registrationForm.password.second) }}
                          {{ form_widget(registrationForm.password.second) }}
                          {% for errorItem in registrationForm.password.second.vars.errors %}
                            <div class="text-danger">{{ errorItem.message }}</div>
                          {% endfor %}
                          <p class="confirm-password-error"></p>
                        </div>
                      </div>
                    {% endif %}
                    <!-- End password -->
                    <!-- AgreeTerms -->
                    {% if registrationForm.agreeTerms is defined %}
                      <div class="col-12 mt-0">
                        <div class="form-check">
                          {{ form_widget(registrationForm.agreeTerms) }}
                          {{ form_label(registrationForm.agreeTerms) }}
                          {% for errorItem in registrationForm.agreeTerms.vars.errors %}
                            <div class="text-danger">{{ errorItem.message }}</div>
                          {% endfor %}
                          <p class="agreeTerms-error"></p>
                        </div>
                      </div>
                    {% endif %}
                    <!-- End agreeTerms -->
                    <!-- Picture -->
                    {% if registrationForm.picture is defined %}
                      <div class="col-12 mt-0">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                          {% if user.picture is null %}
                            <img class="w-50 form-control" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="Photo de profil">
                          {% else %}
                            <img class="w-50 form-control" src={{ asset('upload/' ~ user.picture) }} alt="Photo de profil">
                          {% endif %}
                        </div>
                        <i class="fa-solid fa-image fa-lg me-3 fa-fw"></i>
                        {{ form_label(registrationForm.picture) }}
                        {{ form_widget(registrationForm.picture) }}
                        {% for errorItem in registrationForm.picture.vars.errors %}
                          <div class="text-danger">{{ errorItem.message }}</div>
                        {% endfor %}
                        <p class="picture-error"></p>
                      </div>
                    {% endif %}
                    <!-- End picture -->
                    <div class="col-12">
                      <button class="btn btn-purple w-100" name="register" type="submit" value="submit">
                        {% if update is defined %}
                          Modifier
                        {% else %}
                          S'inscrire
                        {% endif %}
                      </button>
                    </div>
                    {% if update is not defined %}
                      <div class="col-12">
                        <p class="small mb-0">Déjà un compte ? <a href={{ path('login') }} class="link-purple">Se connecter</a></p>
                      </div>
                    {% endif %}
                  {{ form_end(registrationForm) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->