{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - Réinitialisation de mot de passe' }}{% endblock %}

{% block body %}
    {# {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer un email de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }} #}
<div class="container">
    <div class="row justify-content-center" id="forgot-box">
        <div class="col-lg-10 p-4 min-vh-100 my-auto d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col-lg-7 bg-white p-4">
              <h1 class="text-center font-weight-bold" style="color: #6F1125;">Mot de passe oublié?</h1>
              <hr class="my-3" />
              <p class="lead text-center text-secondary">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
              {# <form action="#" method="post" class="px-3" id="forgot-form"> #}
              {{ form_start(requestForm, {'attr': {'class': "px-3"}}) }}
                <div id="forgotAlert"></div>
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend input-group-lg">
                    <span class="input-group-text rounded-0">@</span>
                  </div>
                  {# <input type="email" id="femail" name="email" class="form-control rounded-0" placeholder="E-Mail" required /> #}
                  {{ form_widget(requestForm.email) }}
                </div>
                <div>
                  {% for errorItem in requestForm.email.vars.errors %}
                    <div class="text-danger">{{ errorItem.message }}</div>
                  {% endfor %}
                  <p class="email-error mb-4"></p>
                </div>
                <div class="form-group">
                  {# <input type="submit" id="forgot-btn" value="Reset Password" class="btn btn-primary btn-lg btn-block myBtn w-100" /> #}
                  <button type="submit" value="submit" class="btn btn-dark btn-lg btn-block w-100">Valider</button>
                </div>
              {{ form_end(requestForm) }}
              {# </form> #}
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-center p-4" style="background-color: #6F1125;">
              <h1 class="text-center font-weight-bold text-white">Réinitialisation de mot de passe!</h1>
              <hr class="my-4 bg-white text-white" style="height: 1.5%;" />
              <a href={{ path('login') }} class="btn btn-outline-light btn-lg font-weight-bolder align-self-center" id="back-link">Retour</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('forgotPasswordRequest') }}
{% endblock %}