{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - recherche' }}{% endblock %}

{% block body %}
<section>
    <div class="text-center container py-2">
        <div class="pagetitle mb-4">
            <h1 class="text-start">Résultats de la recherche pour : {{ search }}</h1>
        </div>
        {% if results['bottles'] is not empty %}
            <div class="row">
                <h4 class="text-start">Mes bouteilles :</h4>
                {% for bottle in results['bottles'] %}
                    {% include 'components/bottle/bottle_search.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if results['cellars'] is not empty %}
            <div class="row">
                <h4 class="text-start">Mes caves :</h4>
                {% for cellar in results['cellars'] %}
                    {% include 'components/card/card_index.html.twig' with {'entity': cellar, 'type': 'cellar'} %}
                {% endfor %}
            </div>
        {% endif %}
        {% if results['categories'] is not empty %}
            <div class="row">
                <h4 class="text-start">Mes catégories :</h4>
                {% for category in results['categories'] %}
                    {% include 'components/card/card_index.html.twig' with {'entity': category, 'type': 'category'} %}
                {% endfor %}
            </div>
        {% endif %}
        {% if results['bottles'] is empty and results['cellars'] is empty and results['categories'] is empty %}
            {{ include('components/no_result/no_result.html.twig') }}
        {% endif %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bottle') }}
{% endblock %}