  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color: green !important">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src={{ asset('images/logo_ws.png') }} alt="Logo WineStockker">
        <span class="d-none d-lg-block">Wine Stockker</span>
      </a>
      <i class="fa-solid fa-bars toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action={{ path('search_search') }}>
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if app.user.picture is not empty %}
                <img src={{ asset('upload/' ~ app.user.picture) }} alt="Profile" class="rounded-circle">
            {% else %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="Profile" class="rounded-circle">
            {% endif %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ app.user.screenname }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href={{ path('user_show', {'id': app.user.id}) }}>
                <i class="fa-regular fa-user"></i>
                <span>Mon profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="fa-regular fa-circle-question"></i>
                <span>Besoin d'aide?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href={{ path('logout') }}>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Se déconnecter</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>

  <!-- ======= Sidebar ======= -->
  {# <aside id="sidebar" class="sidebar" style="background-color: green !important"> #}
  <aside id="sidebar" class="sidebar sidebar-admin">

    <ul class="sidebar-nav" id="sidebar-nav">
      <!-- Cellars Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-boxes-stacked"></i><span>Mes caves</span><i class="fa-solid fa-chevron-down chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            {% if app.user.cellars is defined %}
                {% set count = 0 %}
                {% for cellar in app.user.cellars %}
                    <li
                      {% if not app.user.premium and count >= 1 %}
                        class="disabled"  data-bs-toggle="tooltip" data-bs-placement="top" title="Abonnez-vous pour débloquer cette cave"
                      {% endif %}
                    >
                        <a class="dropdown-item {% if not app.user.premium and count >= 1 %}disabled{% endif %}"
                          href=
                            {% if not app.user.premium and count >= 1 %}
                              ''
                            {% else %}
                              {{ path('cellar_show', {'id': cellar.id}) }}
                            {% endif %}
                          >
                            <i class="fa-solid fa-box me-2"></i>
                            <span>{{ cellar.name }}</span>
                        </a>
                    </li>
                    {% set count = count + 1 %}
                {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li class="my-2">
                <hr class="w-75 m-auto">
            </li>
            <li>
                <a class="dropdown-item" href={{ path('cellar_index') }}>
                    <i class="fa-solid fa-eye fa-lg me-2"></i>
                    Toutes mes caves
                </a>
            </li>
            <li>
                <a class="dropdown-item" href={{ path('cellar_new') }}>
                    <i class="fa-regular fa-square-plus fa-lg me-3"></i>
                    Créer une cave
                </a>
            </li>
        </ul>
      </li>
      <!-- End Cellars Nav -->

      <!-- Bottles Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-wine-bottle"></i><span>Mes bouteilles</span><i class="fa-solid fa-chevron-down chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a class="dropdown-item" href={{ path('bottle_index') }}>
                    <i class="fa-solid fa-eye fa-lg me-2"></i>
                    Toutes mes bouteilles
                </a>
            </li>
            <li>
                <a class="dropdown-item" href={{ path('bottle_new') }}>
                    <i class="fa-regular fa-square-plus fa-lg me-3"></i>
                    Créer une bouteille
                </a>
            </li>
        </ul>
      </li>
      <!-- End Bottles Nav -->

      <!-- Categories Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-sitemap"></i><span>Mes catégories</span><i class="fa-solid fa-chevron-down chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            {% if app.user.categories is defined %}
                {% set count = 0 %}
                {% for category in app.user.categories %}
                    <li
                      {% if not app.user.premium and count >= 1 %}
                        class="disabled"  data-bs-toggle="tooltip" data-bs-placement="top" title="Abonnez-vous pour débloquer cette catégorie"
                      {% endif %}
                    >
                        <a class="dropdown-item {% if not app.user.premium and count >= 1 %}disabled{% endif %}"
                          href=
                            {% if not app.user.premium and count >= 1 %}
                              ''
                            {% else %}
                              {{ path('category_show', {'id': category.id}) }}
                            {% endif %}
                          >
                            <i class="fa-solid fa-sitemap fa-lg me-2"></i>
                            {{ category.name }}
                        </a>
                    </li>
                    {% set count = count + 1 %}
                {% endfor %}
                <li class="my-2">
                    <hr class="w-75 m-auto">
                </li>
            {% endif %}
            <li>
                <a class="dropdown-item" href={{ path('category_index') }}>
                    <i class="fa-solid fa-eye fa-lg me-2"></i>
                    Toutes mes catégories
                </a>
            </li>
            <li>
                <a class="dropdown-item" href={{ path('category_new') }}>
                    <i class="fa-regular fa-square-plus fa-lg me-3"></i>
                    Créer une catégorie
                </a>
            </li>
        </ul>
      </li>
      <!-- End Categories Nav -->

      <li class="nav-heading">Pages</li>

      <!-- Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href={{ path('user_show', {'id': app.user.getId()}) }}>
          <i class="fa-regular fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

      <!-- Subscription Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href={{ path('subscription_index') }}>
          <i class="fa-solid fa-bag-shopping"></i>
          <span>Abonnements</span>
        </a>
      </li>
      <!-- End Subscription Page Nav -->

      <!-- Invoice Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href={{ path('transaction_index') }}>
          <i class="fa-regular fa-file-lines"></i>
          <span>Factures</span>
        </a>
      </li>
      <!-- End Invoice Page Nav -->

      <!-- F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="fa-regular fa-circle-question"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      <!-- End F.A.Q Page Nav -->

      <!-- Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="fa-regular fa-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->

      <li class="nav-heading">Admin</li>

      <!-- Admin Cellar Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href={{ path('cellar_index_admin') }}>
          <i class="fa-solid fa-boxes-stacked"></i>
          <span>Les caves</span>
        </a>
      </li>
      <!-- End Admin Cellar Page Nav -->

      <!-- Admin Bottle Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href={{ path('bottle_index_admin') }}>
          <i class="fa-solid fa-wine-bottle"></i>
          <span>Les bouteilles</span>
        </a>
      </li>
      <!-- End Admin Bottle Page Nav -->

      <!-- Admin Catégory Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href={{ path('category_index_admin') }}>
          <i class="fa-solid fa-sitemap"></i>
          <span>Les catégories</span>
        </a>
      </li>
      <!-- End Admin Catégory Page Nav -->
    </ul>

  </aside>