<div class="container">
    <div class="pagetitle mb-4">
        <h1 class="text-start">Envoyer un message</h1>
    </div>
    <div class="row my-5 d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 shadow rounded card p-4">
            <div class="mb-3 text-center">
                <img src={{ asset('images/logo_ws.png') }} alt="contact" class="contact-image w-25"/>
            </div>
            {{ form_start(form) }}
                <div class="mb-3">
                    <label for="emeteur" class="form-label">De :</label>
                    <input type="email" class="form-control" id="emeteur" value={{ app.user.email }} disabled>
                </div>
                <div class="mb-3">
                    <label for="destinataire" class="form-label">À :</label>
                    <input type="email" class="form-control" id="destinataire" value="WINE STOCKKER" disabled>
                </div>
                <div class="mb-3">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject) }}
                    {% for errorItem in form.subject.vars.errors %}
                        <div class="text-danger">{{ errorItem.message }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                    {% for errorItem in form.content.vars.errors %}
                        <div class="text-danger">{{ errorItem.message }}</div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-purple" name="contact-send">Envoyer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>