
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white">
                            <img src={{ asset('images/quantity.png') }}
                            alt="Avatar" class="img-fluid my-5 w-75" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4 h-100 d-flex flex-column justify-content-center">
                                {{ form_start(form) }}
                                    <div class="d-flex flex-column border rounded py-3 mb-4">
                                      <div class="d-flex justify-content-center">
                                          <p class="m-0"><i class="fa-solid fa-boxes-stacked fa-lg me-3 purple"></i>Cave :</p>
                                          <p class="ms-3 h4 m-0">{{ cellar.name | upper }}</p>
                                      </div>
                                      <div class="d-flex justify-content-center">
                                          <p class="m-0"><i class="fa-solid fa-wine-bottle fa-lg me-3"></i></i>Bouteille :</p>
                                          <p class="ms-3 h4 m-0">{{ bottle.name | upper }}</p>
                                      </div>
                                    </div>
                                    <!-- Quantity -->
                                    <div class="form-outline mb-4 h5 w-100">
                                        {{ form_label(form.quantity) }}
                                        {{ form_widget(form.quantity) }}
                                        {% for errorItem in form.quantity.vars.errors %}
                                            <div class="text-danger">{{ errorItem.message }}</div>
                                        {% endfor %}
                                        <p class="name-error mb-4"></p>
                                    </div>
                                    <!-- End quantity -->
                                    <!-- Submit button -->
                                    <div class="w-100 d-flex justify-content-center">
                                        <button type="submit" value="submit" class="btn btn-purple" name="edit-quantity">
                                            Valider
                                        </button>
                                    </div>
                                    <!-- End submit button -->
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>