
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white">
                            <img src={{ asset('images/quantity.png') }}
                            alt="Avatar" class="img-fluid my-5 w-75" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4 h-100 d-flex flex-column justify-content-center">
                                {{ form_start(form) }}
                                    <div class="row py-3 mb-4">
                                        <div class="col-md-6 col-sm-12 mb-2">
                                            <ul class="list-group">
                                                <li class="list-group-item bg-wine text-center"><i class="fa-solid fa-boxes-stacked fa-lg text-light"></i></li>
                                                <li class="list-group-item text-center">{{ cellar.name | upper }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <ul class="list-group">
                                                <li class="list-group-item bg-wine text-center"><i class="fa-solid fa-wine-bottle fa-lg text-light"></i></li>
                                                <li class="list-group-item text-center">{{ bottle.name | upper }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Quantity -->
                                    <div class="form-outline mb-4 h5 w-100">
                                        {{ form_label(form.quantity) }}
                                        {{ form_widget(form.quantity) }}
                                        {% for errorItem in form.quantity.vars.errors %}
                                            <div class="text-danger">{{ errorItem.message }}</div>
                                        {% endfor %}
                                        <p class="quantity-error mb-4"></p>
                                    </div>
                                    <!-- End quantity -->
                                    <!-- Submit button -->
                                    <div class="w-100 d-flex justify-content-center">
                                        <button type="submit" value="submit" class="btn btn-purple" name="edit-quantity">
                                            Valider
                                        </button>
                                    </div>
                                    <!-- End submit button -->
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>