
<section>
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white">
                            <img src={{ asset('images/bottle.png') }}
                            alt="Bouteille" class="img-fluid my-5 w-75" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4 h-100 d-flex flex-column justify-content-center">
                                {{ form_start(form) }}
                                    <!-- Name -->
                                    <div class="d-flex flex-row align-items-center mb-1">
                                      <i class="fa-solid fa-signature fa-lg me-3"></i>
                                      <div class="form-outline flex-fill mb-0 mt-3">
                                        {{ form_widget(form.name) }}
                                        {% if form.name.vars.errors is not empty %}
                                          {% for errorItem in form.name.vars.errors %}
                                            <div class="text-danger">{{ errorItem.message }}</div>
                                          {% endfor %}
                                        {% endif %}
                                        <p class="name-error"></p>
                                      </div>
                                    </div>
                                    <!-- End name -->
                                    <!-- Year -->
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <i class="fa-solid fa-calendar fa-lg me-3"></i>
                                        <div class="form-outline flex-fill mb-0 mt-3">
                                            {{ form_widget(form.year) }}
                                            {% if form.year.vars.errors is not empty %}
                                              {% for errorItem in form.year.vars.errors %}
                                                  <div class="text-danger">{{ errorItem.message }}</div>
                                              {% endfor %}
                                            {% endif %}
                                            <p class="year-error"></p>
                                        </div>
                                    </div>
                                    <!-- End year -->
                                    <!-- Origin -->
                                    <div class="d-flex flex-row align-items-center mb-1">
                                      <i class="fa-solid fa-flag fa-lg me-3"></i>
                                      <div class="form-outline flex-fill mb-0 mt-3">
                                          {{ form_widget(form.origin) }}
                                          {% if form.origin.vars.errors is not empty %}
                                            {% for errorItem in form.origin.vars.errors %}
                                                <div class="text-danger">{{ errorItem.message }}</div>
                                            {% endfor %}
                                          {% endif %}
                                          <p class="origin-error"></p>
                                      </div>
                                    </div>
                                    <!-- End origin -->
                                    <!-- Vine -->
                                    <div class="d-flex flex-row align-items-center mb-1">
                                      <i class="fa-solid fa-seedling fa-lg me-3"></i>
                                      <div class="form-outline flex-fill mb-0 mt-3">
                                          {{ form_widget(form.vine) }}
                                          {% if form.vine.vars.errors is not empty %}
                                            {% for errorItem in form.vine.vars.errors %}
                                                <div class="text-danger">{{ errorItem.message }}</div>
                                            {% endfor %}
                                          {% endif %}
                                          <p class="vine-error"></p>
                                      </div>
                                    </div>
                                    <!-- End vine -->
                                    <!-- Enbottler -->
                                    <div class="d-flex flex-row align-items-center mb-1">
                                      <i class="fa-solid fa-wine-bottle fa-lg me-3"></i>
                                      <div class="form-outline flex-fill mb-0 mt-3">
                                          {{ form_widget(form.enbottler) }}
                                          {% if form.enbottler.vars.errors is not empty %}
                                            {% for errorItem in form.enbottler.vars.errors %}
                                                <div class="text-danger">{{ errorItem.message }}</div>
                                            {% endfor %}
                                          {% endif %}
                                          <p class="enbottler-error"></p>
                                      </div>
                                    </div>
                                    <!-- End enbottler -->
                                    <!-- Price -->
                                    <div class="d-flex flex-row align-items-center mb-1">
                                      <i class="fa-solid fa-coins fa-lg me-3"></i>
                                      <div class="form-outline flex-fill mb-0 mt-3">
                                          {{ form_widget(form.price) }}
                                          {% if form.price.vars.errors is not empty %}
                                            {% for errorItem in form.price.vars.errors %}
                                                <div class="text-danger">{{ errorItem.message }}</div>
                                            {% endfor %}
                                          {% endif %}
                                          <p class="price-error"></p>
                                      </div>
                                    </div>
                                    <!-- End price -->
                                    <!-- Categories -->
                                    <div class="d-flex flex-column align-items-start mb-4">
                                      <div class="d-flex flex-row align-items-center text-muted mb-2">
                                        <i class="fa-solid fa-sitemap fa-lg me-3"></i>
                                        {{ form_label(form.categories) }}
                                      </div>
                                      {% if form.categories is empty %}
                                        <div>
                                          {{ form_widget(form.categories, {'attr': {'class': "d-none"}}) }}
                                          <p class="text-muted ps-O">Pas de catégorie à sélectionner pour le moment</p>
                                        </div>
                                      {% else %}
                                        <div class="w-100 form-check form-switch d-flex flex-column align-items-start offset-1">
                                          {% for category in form.categories %}
                                              <label class="form-check-label">
                                                {{ form_widget(category, {'attr': {'class': "form-check-input"}}) }}
                                                <span>{{ category.vars.label | upper }}</span>
                                              </label>
                                          {% endfor %}
                                          {% if form.categories.vars.errors is not empty %}
                                            {% for errorItem in form.categories.vars.errors %}
                                                <div class="text-danger">{{ errorItem.message }}</div>
                                            {% endfor %}
                                          {% endif %}
                                          <p class="categories-error"></p>
                                        </div>
                                      {% endif %}
                                    </div>
                                    <!-- End categories -->
                                    <!-- Submit button -->
                                    <div class="w-100 d-flex justify-content-center">
                                        <button type="submit" value="submit" class="btn btn-purple" name="create-bottle">
                                            {% if update is defined %}
                                                Modifier
                                            {% else %}
                                                Créer
                                            {% endif %}
                                        </button>
                                    </div>
                                    <!-- End submit button -->
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
