<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">WINE STOCKKER</a>
    <div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link active d-flex align-items-end" aria-current="page" href={{ path('user_show', {'id': app.user.id}) }}>
                {% if app.user.picture is not empty %}
                  <img src={{ asset('upload/' ~ app.user.picture) }} alt="avatar"
                  class="rounded-circle img-fluid me-2" style="width: 50px;">
                {% else %}
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid me-2" style="width: 50px;">
                {% endif %}
                {{ app.user.screenname }}
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link text-light btn btn-sm btn-danger" aria-current="page" href={{ path('logout') }}>Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light btn btn-sm btn-success" aria-current="page" href={{ path('login') }}>Se connecter</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>