<div class="col-lg-8 col-md-6 col-sm-12 col-lg-5 col-xl-4 py-3">
    <div class="card text-black shadow position-relative">
        <div class="w-100 d-flex justify-content-end position-absolute mt-1">
            {% for category in bottle.categories %}
                <span class="badge bg-dark me-1">{{ category.name }}</span>
            {% endfor %}
        </div>
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img src={{ asset('images/bottle-top-2.jpg') }}
            alt="Bouteille" class="w-100" />
        </div>
        <div class="card-body">
            <fieldset class="purple-fieldset rounded mt-2 text-center">
                <legend class="h4 purple mt-1">{{ bottle.name | upper }}</legend>
                <p class="h6">{{ bottle.year }}</p>
            </fieldset>
            <div class="mt-3">
                {% for cellar in bottle.cellars %}
                    <div class="card shadow mb-2">
                        <div class="card-body">
                            <div class="text-muted">
                                <i class="fa-solid fa-boxes-stacked fa-lg me-3"></i>
                                {{ cellar.name }}
                                <a href={{ path('cellar_show', {'id': cellar.id}) }} class="ms-2 link-purple">Voir le cave</a>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                {% for quantity in cellar.quantities %}
                                    {% if quantity.bottle == bottle and quantity.cellar == cellar %}
                                        <div class="d-flex align-items-center">
                                            <button type="button" data-url={{ path('quantity_edit', {'cellar': cellar.id, 'bottle': bottle.id, 'action': "less"}) }} class="btn btn-link text-danger edit-quantity"><i class="fa-solid fa-minus fa-lg"></i></button>
                                            <p class="m-0 quantity">{{ quantity.quantity }}</p>
                                            <button type="button" data-url={{ path('quantity_edit', {'cellar': cellar.id, 'bottle': bottle.id, 'action': "add"}) }} class="btn btn-link text-success edit-quantity"><i class="fa-solid fa-plus fa-lg"></i></button>
                                            {% if quantity.quantity < 1 %}
                                            <div class="w-100 d-flex justify-content-end">
                                                <span class="badge bg-danger">Rupture</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <a href={{ path('quantity_edit_big', {'quantity': quantity.id}) }} class="link-secondary text-center">Grosse quantité</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>