{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - User{% endblock %}

{% block body %}
<div class="pagetitle">
    <h1 class="text-start">Mon profile</h1>
</div>
<section>
  <div class="container py-3">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            {% if user.picture is not empty %}
              <img src={{ asset('upload/' ~ user.picture) }} alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            {% else %}
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            {% endif %}
            <h5 class="my-3">{{ user.screenname }}</h5>
            {% if user.isPremium %}
                <div class="d-flex flex-column justify-content-center mb-2">
                <p class="text-muted mb-1"><i class="fa-solid fa-unlock-keyhole me-3"></i>Version premium</p>
                    {# <a href="#" class="btn btn-outline-warning"><i class="fa-solid fa-crown fa-xl me-3"></i>Gérer mon abonnement</a> #}
                </div>
            {% else %}
                <div class="d-flex flex-column justify-content-center mb-2">
                    <p class="text-muted mb-1"><i class="fa-solid fa-lock me-3"></i>Version gratuite</p>
                    <a href={{ path('product_index') }} class="btn btn-warning"><i class="fa-solid fa-crown fa-xl me-3"></i>Passer à la vitesse supérieur</a>
                </div>
            {% endif %}
          </div>
        </div>
        <div class="mt-4 mb-4 mb-lg-0 d-flex flex-column">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-dark mb-3"><i class="fa-solid fa-pen-to-square me-3"></i>Modifier mon profil</a>
            <a href="{{ path('user_edit_password', {'id': user.id}) }}" class="btn btn-secondary mb-3"><i class="fa-solid fa-key me-3"></i>Modifier mon mot de passe</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <i class="fa-solid fa-user me-3"></i>
                <p class="mb-0">Nom</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.lastname | upper }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
              <i class="fa-regular fa-user me-3"></i>
                <p class="mb-0">Prénom</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.firstname }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
              <i class="fa-solid fa-envelope me-3"></i>
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
              <i class="fa-solid fa-crown me-3"></i>
                <p class="mb-0">Premium</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {% if user.isPremium %}
                    Jusqu'au {{ user.premiumTo|date('d/m/Y') }}
                  {% else %}
                    Pas d'abonnement en cours
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p><i class="fa-solid fa-map-location-dot me-3"></i> Adresses</p>
                {% if user.addresses is not empty %}
                  <div class="container-fluid">
                    {% set count = 0 %}
                    {% for address in user.addresses %}
                      <div class="row">
                        <div class="col mb-4">
                          <div id={{ 'address_card' ~ count }} class="card_people card shadow alert {% if address.selected == true %} alert-success {% endif %}">
                            <div class="w-100">
                              <div class="d-flex justify-content-between p-md-1">
                                <div class="d-flex flex-column w-100">
                                  <div class="align-self-center">
                                    <h5>{{ address.name }}</h5>
                                  </div>
                                  <div>
                                    <div class="text-center">
                                      <h6>{{ address.streetNumber ~ ' ' ~ address.streetNumberExtension ~ ' ' ~ address.streetType ~ ' ' ~ address.streetName}}</h6>
                                      <p class="mb-0">{{ address.postalcode ~ ' ' ~ address.city}}</p>
                                    </div>
                                    <div class="mt-2 d-flex justify-content-around">
                                      <button class="btn btn-link selected_btn" data-url={{ path('address_selected', {'id': address.id}) }}>
                                        {% if address.selected == true %}
                                          <i class='fa-solid fa-xmark fa-2x text-danger'></i>
                                        {% else %}
                                          <i class="fa-solid fa-check fa-2x text-success"></i>
                                        {% endif %}
                                      </button>
                                      <a href={{ path('address_edit', {'id': address.id}) }} class="btn btn-link"><i class="fa-solid fa-pen-to-square fa-2x text-secondary"></i></a>
                                      {{ include('address/_delete_form.html.twig') }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% set count = count + 1 %}
                    {% endfor %}
                  </div>
                {% endif %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light w-100" data-bs-toggle="modal" data-bs-target="#modalAddress">
                  <i class="fa-solid fa-plus fa-2x"></i>
                </button>
                {% include 'address/modal.html.twig' %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p><i class="fa-regular fa-credit-card me-3"></i> Mes cartes de paiement</p>
                {% if creditCards is not empty %}
                  <div class="container-fluid">
                    {% set count = 0 %}
                    {% for creditCard in creditCards %}
                      <div class="row">
                        <div class="col mb-4 d-flex flex-column">
                          <div id={{ 'creditCard_card' ~ count }} class="card_creditCard card shadow alert bg-wine {% if creditCard['selected'] == true %} card_selected {% endif %}"> {# {% if address.selected == true %} alert-success {% endif %}#}
                            <div class="w-100">
                              <div class="d-flex justify-content-between align-items-center text-light">
                                <i class="fa-regular fa-credit-card fa-2xl"></i>
                                <div>
                                  <small><span class="text-bold">Nom: </span>{{ creditCard['name'] }}</small>
                                </div>
                              </div>
                              <div class="mt-3 text-bold text-light">
                                {{ '**** **** **** ' ~ creditCard['number'] }}
                              </div>
                              <div class="mt-1 text-light">
                                <small><span class="text-bold">Expiration: </span>{{ creditCard['expiration'] }}</small>
                              </div>
                              <div class="m-1 d-flex justify-content-center align-items-center bg-light rounded">
                                <button class="btn btn-link selected_btn_credit_card" data-url={{ path('credit_card_selected', {'id': creditCard['id']}) }}>
                                  {% if creditCard['selected'] == true %}
                                    <i class='fa-solid fa-xmark text-danger'></i>
                                  {% else %}
                                    <i class="fa-solid fa-check text-success"></i>
                                  {% endif %}
                                </button>
                                {{ include('credit_card/_delete_form.html.twig') }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% set count = count + 1 %}
                    {% endfor %}
                  </div>
                {% endif %}
                <button type="button" class="btn btn-light w-100"  data-bs-toggle="modal" data-bs-target="#modalPayment">
                  <i class="fa-solid fa-plus fa-2x"></i>
                </button>
                {% include 'credit_card/modal.html.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('address') }}
  {{ encore_entry_script_tags('creditCard') }}
{% endblock %}