{% extends 'base.html.twig' %}

{% block title %}Cellar index{% endblock %}

{% block body %}
    <h1>Cellar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cellar in cellars %}
            <tr>
                <td>{{ cellar.id }}</td>
                <td>{{ cellar.name }}</td>
                <td>{{ cellar.createdAt ? cellar.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('cellar_show', {'id': cellar.id}) }}">show</a>
                    <a href="{{ path('cellar_edit', {'id': cellar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cellar_new') }}">Create new</a>
{% endblock %}
