{% extends 'base.html.twig' %}

{% block title %}Cellar{% endblock %}

{% block body %}
<section>
  <div class="container pt-2 pb-5">
    <div class="pagetitle mb-4">
        <h1 class="text-start">Ma cave</h1>
    </div>
    <div class="row my-4">
      {% include 'components/card/card.html.twig' with {
        'title': cellar.name,
        'icon': "fa-solid fa-boxes-stacked fa-lg",
        'type': 'cellar',
        'entity': cellar,
        'path': 'cellar_show',
        'param': cellar.id,
      } %}
      {% include 'cellar/bottleModal.html.twig' with {'form': form} %}
      {% include 'components/filter_bar/filter_bar.html.twig' with {'filterForm': filterForm, 'formCategory': true} %}
    </div>
    <div class="row">
      {% if bottles|length > 0 %}
        {% for bottle in bottles %}
          <div class="col-lg-4 col-md-12 py-2">
            <div class="card shadow position-relative">
              <div class="w-100 d-flex justify-content-end position-absolute mt-1">
                {% for category in bottle.categories %}
                  <span class="badge bg-dark me-1">{{ category.name }}</span>
                {% endfor %}
              </div>
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src={{ asset('images/bottle-top-2.jpg') }}
                  class="w-100" />
              </div>
              <div class="card-body w-75 m-auto">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <div class="d-flex flex-column align-items-center">
                      <p class="h6 text-muted">Provenance</p>
                      <p class="h6">{{ bottle.origin|country_name }}</p>
                  </div>
                  <hr class="w-100 m-1" style="border: 1px solid grey;">
                  <div class="d-flex flex-column align-items-center">
                      <p class="h6 text-muted">Cépage</p>
                      <p class="h6">{{ bottle.vine }}</p>
                  </div>
                  <hr class="w-100 m-1" style="border: 1px solid grey;">
                  <div class="d-flex flex-column align-items-center">
                      <p class="h6 text-muted">Embouteilleur</p>
                      <p class="h6">{{ bottle.enbottler }}</p>
                  </div>
                  <hr class="w-100 m-1" style="border: 1px solid grey;">
                  <div class="d-flex flex-column align-items-center">
                      <p class="h6 text-muted">Prix</p>
                      <p class="h6">{{ bottle.price ~ ' €' }}</p>
                  </div>
                  <hr class="w-100 m-1" style="border: 1px solid grey;">
                  <div class="d-flex flex-column align-items-center">
                      <p class="h6 text-muted">Quantité</p>
                      <div class="d-flex flex-column align-items-center">
                        {% for quantity in quantities %}
                          {% if quantity.bottle.id == bottle.id %}
                            <div class="d-flex align-items-center">
                              <button type="button" data-url={{ path('quantity_edit', {'cellar': cellar.id, 'bottle': bottle.id, 'action': "less"}) }} class="btn btn-link text-danger edit-quantity"><i class="fa-solid fa-minus fa-lg"></i></button>
                              <p class="m-0 quantity">{{ quantity.quantity }}</p>
                              <button type="button" data-url={{ path('quantity_edit', {'cellar': cellar.id, 'bottle': bottle.id, 'action': "add"}) }} class="btn btn-link text-success edit-quantity"><i class="fa-solid fa-plus fa-lg"></i></button>
                              {% if quantity.quantity < 1 %}
                                <div class="w-100 d-flex justify-content-end">
                                  <span class="badge bg-danger">Rupture</span>
                                </div>
                              {% endif %}
                            </div>
                            <a href={{ path('quantity_edit_big', {'quantity': quantity.id}) }} class="link-secondary text-center">Grosse quantité</a>
                          {% endif %}
                        {% endfor %}
                      </div>
                  </div>
                </div>
                <fieldset class="purple-fieldset rounded mt-2 text-center">
                    <legend class="h4 purple mt-1">{{ bottle.name | upper }}</legend>
                    <p class="h6">{{ bottle.year }}</p>
                </fieldset>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {{ include('components/no_result/no_result.html.twig') }}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('bottle') }}
{% endblock %}