<!-- Card -->
<div class="col-lg-4 col-md-6 dashboard">
    <div class="card info-card sales-card">

        <div class="card-body">
            {% if title is defined %}
                <h5 class="card-title py-0 mb-4 text-center bg-wine-ligth shadow-sm">{{ title|upper }}</h5>
            {% endif %}

            <div class="d-flex justify-content-around align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center shadow">
                    <i class="{{ icon }}"></i>
                </div>
                <div class="d-flex flex-column align-items-center">
                    {# <h6>{{ bottles|length }}</h6> #}
                    <h6>{{ bottles.getTotalItemCount }}</h6>
                    <span class="text-muted pt-1">bouteilles</span>
                </div>
                {% if entity is defined %}
                    <div class="d-flex flex-column justify-content-around align-items-center">
                        <a href={{ path(type ~ '_edit', {'id': entity.id}) }} class="btn btn-link">
                            <i class="fa-solid fa-pen-to-square fa-2x text-secondary"></i>
                        </a>
                        {{ include(type ~ '/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
            {% if entity is defined %}
                <ul class="list-group list-group-flush mt-4">
                    <li
                        class="list-group-item d-flex justify-content-around align-items-center border-0 px-0 pb-0  text-muted">
                        Créée le
                        <span>{{ entity.createdAt | date('d/m/Y') }}</span>
                    </li>
                </ul>
                <button type="button" class="btn btn-purple mt-3 w-100" data-bs-toggle="modal" data-bs-target="#bottleModal">
                    Ajouter / retirer une bouteille
                </button>
            {% endif %}
        </div>
    </div>
    <a href={{ path(path, {'id': param}) }} class="btn btn-outline-dark mb-4 w-100">
        <i class="fa-solid fa-rotate-right fa-lg me-3"></i>
        Réinitialiser les filtres
    </a>
</div><!-- End Card -->