<div class="col-lg-4 col-md-12 py-2">
    <div class="card shadow position-relative">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img src={{ asset('images/bottle-top-2.jpg') }}
            class="w-100" />
        </div>
        {% if isAdmin == true %}
            <div class="w-100 mt-5 d-flex flex-column align-items-end position-absolute">
                <a href={{ path('subscription_edit', {'id': subscription.id}) }} class="btn btn-link text-secondary"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                {{ include('subscription/_delete_form.html.twig') }}
            </div>
        {% endif %}
        <div class="card-body w-75 m-auto">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <p class="h6 text-muted">Nom</p>
                    <p class="h6">{{ subscription.name }}</p>
                </div>
                <hr class="w-100 m-1" style="border: 1px solid grey;">
                <div class="d-flex flex-column align-items-center">
                    <p class="h6 text-muted">Prix</p>
                    <p>{{ subscription.price ~ ' €' }}</p>
                </div>
                <hr class="w-100 m-1" style="border: 1px solid grey;">
                <div class="d-flex flex-column align-items-center">
                    <p class="h6 text-muted">Durée</p>
                    <p class="h6">{{ subscription.duration ~ ' jours' }}</p>
                </div>
            </div>
            <a href={{ path('payment_payment', {'id': subscription.id}) }} class="btn btn-warning w-100">
                {% if app.user.isPremium %}
                    <i class="fa-solid fa-rotate fa-xl me-3"></i>Prolonger mon abonnement
                {% else %}
                    <i class="fa-solid fa-crown fa-xl me-3"></i>Devenir premium
                {% endif %}
            </a>
        </div>
    </div>
</div>